* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: transparent;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@font-face {
  font-family: SfProBold;
  src: url("assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}

@font-face {
  font-family: SfProRegular;
  src: url("assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

#window {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .searchbar-field {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 40px;
    width: 100%;

    margin-top: 10px;

    .searchbar {
      width: 90%;
      height: 100%;

      background-color: #172241;
      border-radius: 5px;
      color: #ffffff;
      border: transparent;
      outline: transparent;

      font-family: SfProRegular;
      font-size: 18px;

      border-bottom: 2px solid #07cdff;
    }
  }
}
