.searchbar-field {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 40px;
  width: 100%;

  margin-top: 10px;

  .searchbar-box {
    width: 95%;
    height: 100%;

    border-radius: 5px;
    background-color: #172241;

    border-bottom: 2px solid #07cdff;

    .searchbar {
      width: 98%;
      height: 100%;
      margin-left: 1%;

      color: #ffffff;
      background-color: transparent;
      border: transparent;
      outline: transparent;

      font-family: SfProRegular;
      font-size: 18px;
    }
  }
}
